<?xml version="1.0" encoding="UTF-8"?>
 <Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
         <RollingFile name="commonLog" fileName="/usr/local/wlesblogfiles/log4j-application-wlesb.log"
                    filePattern="/usr/local/wlesblogfiles/log4j-application-wlesb-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5"/>
		</RollingFile>
		
  <RollingFile name="wl_mms_be_Log" fileName="/usr/local/wlesblogfiles/wl_mms_be_log/wl_mms_be_logger/wl_mms_be_logger.log"
             filePattern="/usr/local/wlesblogfiles/wl_mms_be_log/wl_mms_be_logger/wl_mms_be_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>
			
 <RollingFile name="wl_mms_be_error_Log" fileName="/usr/local/wlesblogfiles/wl_esb_log/wl_esb_error_logger/wl_esb_error_logger.log"
             filePattern="/usr/local/wlesblogfiles/wl_esb_log/wl_esb_error_logger/wl_esb_error_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>		 
 <RollingFile name="wl_esb_error_log" fileName="/usr/local/wlesblogfiles/WL-web-uat/wl_esb_log/wl_esb_error_logger/wl_esb_error_logger.log"
             filePattern="/usr/local/wlesblogfiles/WL-web-uat/wl_esb_log/wl_esb_error_logger/wl_esb_error_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>			 
<RollingFile name="wl_esb_log" fileName="/usr/local/wlesblogfiles/wl_esb_log/wl_esb_logger/wl_esb_logger.log"
             filePattern="/usr/local/wlesblogfiles/wl_esb_log/wl_esb_logger/wl_esb_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>	
<RollingFile name="wl_live_transaction_error_log" fileName="/usr/local/wlesblogfiles/WL_LiveTransaction_log/WL_LiveTransaction_error_logger/WL_LiveTransaction_error_logger.log"
             filePattern="/usr/local/wlesblogfiles/WL_LiveTransaction_log/WL_LiveTransaction_error_logger/WL_LiveTransaction_error_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>			 
   
  <RollingFile name="wl_live_transaction_log" fileName="/usr/local/wlesblogfiles/WL_LiveTransaction_log/WL_LiveTransaction_logger/WL_LiveTransaction_logger.log"
             filePattern="/usr/local/wlesblogfiles/WL_LiveTransaction_log/WL_LiveTransaction_logger/WL_LiveTransaction_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>	 
  <RollingFile name="wl_profilesync_log" fileName="/usr/local/wlesblogfiles/WL_ProfileSync_log/WL_ProfileSync_logger/WL_ProfileSync_logger.log"
             filePattern="/usr/local/wlesblogfiles/WL_ProfileSync_log/WL_ProfileSync_logger/WL_ProfileSync_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>	 
 <RollingFile name="wl_profilesync_error_log" fileName="/usr/local/wlesblogfiles/WL_ProfileSync_log/WL_ProfileSync_error_logger/WL_ProfileSync_error_logger.log"
             filePattern="/usr/local/wlesblogfiles/WL_ProfileSync_log/WL_ProfileSync_error_logger/WL_ProfileSync_error_logger-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout> <Pattern>%d %p %c{1.} [%t] %m%n</Pattern> </PatternLayout> 	<Policies> 	<TimeBasedTriggeringPolicy /> <SizeBasedTriggeringPolicy size="10 MB"/> 	</Policies>
			<DefaultRolloverStrategy max="5"/> </RollingFile>	     
			
    </Appenders>
	
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
         <Logger name="com.wlesb" level="debug" additivity="false">
            <AppenderRef ref="commonLog"/>
        </Logger>
        <Logger name="wl_mms_be_Log" level="debug" additivity="false">  <AppenderRef ref="wl_mms_be_Log"/> </Logger>
       <Logger name="wl_mms_be_error_Log" level="DEBUG"  additivity="false" >    <AppenderRef ref="wl_mms_be_error_Log"/> </Logger>
		<Logger name="wl_esb_error_log" level="DEBUG"  additivity="false" >    <AppenderRef ref="wl_esb_error_log"/> </Logger>
		<Logger name="wl_esb_log" level="DEBUG"  additivity="false" >    <AppenderRef ref="wl_esb_log"/> </Logger>
		<Logger name="wl_live_transaction_error_log" level="DEBUG"  additivity="false" >    <AppenderRef ref="wl_live_transaction_error_log"/> </Logger>
		<Logger name="wl_live_transaction_log" level="DEBUG"  additivity="false" >    <AppenderRef ref="wl_live_transaction_log"/> </Logger>
		<Logger name="wl_profilesync_log" level="DEBUG"  additivity="false" >    <AppenderRef ref="wl_profilesync_log"/> </Logger>
		<Logger name="wl_profilesync_error_log" level="DEBUG"  additivity="false" >    <AppenderRef ref="wl_profilesync_error_log"/> </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>